*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

[class$=_container] {
  max-width: 1094px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-size: 1rem;
  background-color: #121214;
  color: #fff;
}

@import "header.scss";
@import "reviews.scss";
@import "footer.scss";